<app-navbar></app-navbar>

<div class="container2">
    <div class="left-panel">
        <h1 class="my-5">post your ride</h1>
          <div class="rating">
            <ng-container *ngFor="let star of stars; let i = index">
              <ng-container [ngSwitch]="getStarType(i)">
                <span *ngSwitchCase="'full'" class="star filled">★</span>
                <span *ngSwitchCase="'half'" class="star half-filled">★</span>
                <span *ngSwitchDefault class="star">★</span>
              </ng-container>
            </ng-container>
            <span class="rating-value">{{ fakeRating }} / 5</span>
          </div>
        <form (ngSubmit)="postTrip()">
            <label class="fs-4" for="origin">origin:</label>
            <div class="input2">
              <input type="text" id="origin" [(ngModel)]="origin" name="origin" required #originInput />
              <button type="button" class="ms-1 boton2" (click)="enableMapSelection('origin')">select on map</button>
            </div>
          
            <label class="fs-4" for="destination">destination:</label>
            <div class="input2">
              <input type="text" id="destination" [(ngModel)]="destination" name="destination" required #destinationInput />
              <button type="button" class="ms-1 boton2" (click)="enableMapSelection('destination')">select on map</button>
            </div>
        <label class="fs-4" for="passengers">number of passengers:</label>
        <input 
            type="number" 
            id="passengers" 
            [(ngModel)]="passengers" 
            name="passengers" 
            min="1" 
            max="4"
            required />

        <!-- Nuevo campo: Tarifa -->
        <label class="fs-4" for="fare">fare ($):</label>
        <input 
            type="number" 
            id="fare" 
            [(ngModel)]="fare" 
            name="fare" 
            min="0" 
            step="0.5" 
            required />

            <div class="driver-post-container">
                <button *ngIf="!postedRide" class="mt-5 fs-4" (click)="startTimer()">post</button>
                
                <div *ngIf="postedRide">
                  <p class="timeLeft fs-4 mt-5">ride posted. time left: {{ formatTime(timeLeft) }}</p>
                </div>
              </div>
        <!-- <button *ngIf="!postedRide" class="mt-5 fs-4" type="submit">post</button> -->
        <!-- <button *ngIf="postedRide" class="mt-5 fs-4" type="submit" disabled>your ride has been posted</button> -->

        </form>
    </div>
    
    <!-- Mapa -->
    <div class="map-container">
        <google-map 
            #googleMap
            [height]="'100%'"
            [width]="'100%'"
            [center]="center"
            [zoom]="zoom">
            <map-circle
            *ngIf="userLocation"
            [center]="userLocation"
            [radius]="accuracy" 
            [options]="circleOptions">
            </map-circle>      
        </google-map>
    </div>
      

