<app-navbar></app-navbar>
<div class="main-container">
  <div class="contact-container">
    <header class="contact-header">
      <h1>contact us</h1>
      <p>we'd love to hear from you! reach out to our team through the following contacts:</p>
    </header>

    <section class="contact-content">
      <article class="contact-item">
        <h2>juan pablo de luna de la serna</h2>
        <p>for general questions about peerDrive, feel free to email us at al261589&#64;edu.uaa.mx or call us at +52 (449) 116-2027.</p>
      </article>

      <article class="contact-item">
        <h2>uriel ulises acosta olvera</h2>
        <p>if you're experiencing issues with the platform, contact our technical support team at al2649445&#64;edu.uaa.mx. we're here to help!</p>
      </article>

      <article class="contact-item">
        <h2>diego zamora delgadillo</h2>
        <p>for press and media inquiries, please email al261855&#64;edu.uaa.mx. we'd be happy to provide more information about our platform.</p>
      </article>

      <article class="contact-item">
        <h2>alejandro lopez ruiz</h2>
        <p>interested in partnering with us? reach out to al244179&#64;edu.uaa.mx to explore collaboration opportunities.</p>
      </article>
    </section>

    <div class="contact-image">
      <img src="../../assets/lune.jpg" alt="PeerDrive Team">
    </div>

    <footer class="contact-footer">
      <p>Thank you for supporting PeerDrive. We look forward to connecting with you!</p>
    </footer>
  </div>
</div>
