<app-navbar></app-navbar>
<div class="container2">
    <div class="left-panel">
      <h1 class="my-5">plan your ride</h1>
      <form (ngSubmit)="searchTrips()">
        <label class="fs-4" for="origin">origin:</label>
        <div class="">
          <input type="text" id="origin" [(ngModel)]="origin" name="origin" required #originInput />
          <button type="button" class="ms-1 boton2" (click)="enableMapSelection('origin')">select on map</button>
        </div>
      
        <label class="fs-4" for="destination">destination:</label>
        <div class="">
          <input type="text" id="destination" [(ngModel)]="destination" name="destination" required #destinationInput />
          <button type="button" class="ms-1 boton2" (click)="enableMapSelection('destination')">select on map</button>
        </div>
      
        <button class="mt-5 fs-4" type="submit">search</button>
      </form>

      <div class="trip-results" *ngIf="trips.length > 0">
        <h3>Viajes encontrados:</h3>
        <ul>
          <li *ngFor="let trip of trips">
            <strong>Conductor:</strong> {{ trip.driverName }} <br>
            <strong>Teléfono:</strong> {{ trip.phoneNumber }} <br>
            <strong>Ruta:</strong> ({{ trip.route.origin.lat }}, {{ trip.route.origin.lng }}) → ({{ trip.route.destination.lat }}, {{ trip.route.destination.lng }})
          </li>
        </ul>
          
        
      </div>

    </div>
  
    <!-- Mapa -->
    <div class="map-container">
      <google-map 
        #googleMap
        [height]="'100%'"
        [width]="'100%'"
        [center]="center"
        [zoom]="zoom">
        <map-circle
        *ngIf="userLocation"
        [center]="userLocation"
        [radius]="accuracy" 
        [options]="circleOptions">
      </map-circle>      
    </google-map>
    </div>
  </div>
  